
        $primary:    #337ab7;
        $secondary:  #6c757d;
        $success:    #28a745;
        $info:       #67C5DF;
        $warning:    #ffc107;
        $danger:     #ef6f6c;
        $light:      #f8f9fa;
        $dark:       #343a40;
