
// Fonts
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

// Variables

// Bootstrap
@import "~bootstrap/scss/bootstrap";
.navbar-right {
  float: right!important;
  margin-right: -15px;
}
.card-outline-info
{
  border-left:3px solid #31B0D5;
  color: #48899C;
}
.card-outline-primary
{
  border-left:3px solid #418bca;
  color: #418bca;
}
.card-outline-success
{
  border-left:3px solid #01bc8c;
  color: #01bc8c;
}
.card-outline-danger
{
  border-left:3px solid #ef6f6c;
  color: #ef6f6c;
}
.card-outline-waring
{
  border-left:3px solid #f89a14;
  color: #f89a14;
}
.card-outline-default
{
  border-left:3px solid #a9b6bc;
  color: #a9b6bc;
}
.btn-outline-info
{
  color:#48899C !important;
  border:1px solid #31B0D5;
}

